.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: max-content;
}

.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.submit {
    width: 100% !important;
}